
.blur-bottom {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.blur-top {
  /* -webkit-clip-path: polygon(50% 20%, 70% 0, 100% 0, 100% 100%, 70% 100%, 50% 80%, 30% 100%, 0 100%, 0 0, 30% 0);
           clip-path: polygon(50% 20%, 70% 0, 100% 0, 100% 100%, 70% 100%, 50% 80%, 30% 100%, 0 100%, 0 0, 30% 0);*/
}

.blur-top,
.blur-bottom {
    position: absolute;
    top: 0;
    left: 0;
}
.change{
	
}
